﻿@model dynamic
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h3 class="m-0">CÂU HỎI<small style="font-size: 15px; color: grey;">Cập nhật câu hỏi từ file excel</small></h3>
                </div>

                <div class="col-sm-6 ">
                    <a href="/Question/Index" style="background-color:grey;padding:6px;color:#fff" class="rounded float-sm-right">
                        <i class="fa fa-reply"></i> Quay lại
                    </a>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-6">
                        <div class="form-group">
                            <select class="form-control" id="CategoryExcel" name="CategoryExcel">
                                <option value="" selected>Danh mục</option>
                                @foreach (var item in Model.categoriesExcel)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                                @*@foreach (var item in Model.categories)
                            {
                                if (item.Id == Model.keySearch.CategoryId)
                                {
                                    <option value="@item.Id" selected>@item.Name</option>
                                }
                                else
                                {
                                    <option value="@item.Id ">@item.Name</option>
                                }
                            }*@
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6">
                        <div class="form-group">
                            <select class="form-control" id="UnitExcel" name="UnitExcel">
                                <option value="" selected>Đơn vị</option>
                                @foreach (var item in Model.unitExcel)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                                @*@foreach (var item in Model.unit)
                            {
                                if (item.Id == Model.keySearch.UnitId)
                                {
                                    <option value="@item.Id" selected>@item.Name</option>
                                }
                                else
                                {
                                    <option value="@item.Id ">@item.Name</option>
                                }
                            }*@
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6">
                        <div class="form-group">
                            <select class="form-control" id="SubjectExcel" name="SubjectExcel">
                                <option value="" selected>Môn thi</option>
                                @foreach (var item in Model.subjectExcel)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                                @*@foreach (var item in Model.subject)
                            {
                                if (item.Id == Model.keySearch.SubjectId)
                                {
                                    <option value="@item.Id" selected>@item.Name</option>
                                }
                                else
                                {
                                    <option value="@item.Id ">@item.Name</option>
                                }
                            }*@
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6">
                        <div class="docs-datepicker">
                            <div class="input-group">
                                @*@if (Model.keySearch.StartDate != null)
                            {
                                <input type="text" class="form-control docs-date" id="StartDate" name="StartDate" placeholder="Từ ngày" autocomplete="off" value="@Model.keySearch.StartDate" />
                            }
                            else
                            {
                                <input type="text" class="form-control docs-date" id="StartDate" name="StartDate" placeholder="Từ ngày" autocomplete="off" />
                            }*@
                                <input type="text" class="form-control docs-date" id="ExpDate" name="ExpDate" placeholder="Ngày hết hạn" autocomplete="off" />
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-outline-secondary docs-datepicker-trigger" id="dateExp">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="docs-datepicker-container" style="display: none;"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                            <div class="btn btn-primary btn-sm fileinput-button d-inline-flex justify-content-between align-content-between" onclick="document.getElementById('fileBrowses').click();">
                                <span>
                                    <i class="fa fa-plus"></i>
                                    Chọn tệp tin...
                                </span>
                                <input id="fileBrowses" name="FileExcel" type="file" value="Vui lòng chọn file" style="display:none;"/>
                                <span class="ml-2" id="file-selected"></span>
                            </div>
                            <button class="btn btn-sm btn-success" id="updateExcel"><i class="fa fa-link"></i>            Cập nhật dữ liệu</button>
                            <button class="btn btn-sm btn-primary"><i class="fa fa-arrow-down"></i>      Tải bản mẫu</button>
                        </div>
                </div>
            </div>
       
    </section>
</div>
@section scripts{
    <script>
        $('#ExpDate').datepicker({
            format: 'dd/mm/yyyy',
            trigger: $('#dateExp'),
            language: 'vi-VN'
        });
        $('#fileBrowses').on('change', function () {
            $('#file-selected').html($('#fileBrowses')[0].files[0].name);
            var filename = $('#fileBrowses').val();
            if (filename.split('.').pop() == "xlsx") {
                
            } else {
                alert('file phai co duoi zip');
                $('#fileBrowses').val('');
            }
        });
        $('#updateExcel').on('click', function () {
            var filename = $('#fileBrowses').val();
            let file = $("#fileBrowses")[0].files[0];
            data = new FormData();
            data.append("file", file);
            data.append("CategoryExcel", $('#CategoryExcel').val());
            data.append("UnitExcel", $('#UnitExcel').val());
            data.append("SubjectExcel", $('#SubjectExcel').val());
            data.append("ExpDate", $('#ExpDate').val());
            $.ajax({
                type: "POST",
                url: "/Excel/ImportExcel",
                data: data,
                processData: false, // tell jQuery not to process the data
                contentType: false, // tell jQuery not to set contentType
                success: function (result) {
                    
                },
                error: function (err) {
                    console.log(err);
                },
            });
            
        });
        
    </script>
    
}