﻿@model Learning.Models.DataModel.Category

<section class="content">
    <div class="container-fluid" style="border-top: 3px solid #d2d6de;">
        <div class="row">
            <div class="col-sm-3">
                
            </div>
            <div class="col-sm-6">
                <form>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Name Category</label>
                            <input type="text" class="form-control" id="name" placeholder="Enter Name" />
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="status" />
                            <label class="form-check-label" for="exampleCheck1">Status Category</label>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary" id="btn_save">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@section scripts{ 
    <script>
        $(document).ready(function () {
            $('#btn_save').click(function () {
                var categories = {
                    Name: $('name').val(),
                    Status: $('status').is(':checked')
                };
                $.ajax({
                    type: 'POST',
                    url: '/Home/AddCategory',
                    data: JSON.stringify(categories),
                    error: function (response) {
                        alert(response.responseText);
                    },  
                    success: function (response) {
                        //Reload Partial view to fetch latest added records  
                        alert(response);

                    }  
                });
            })
        });
    </script>

}
