﻿<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h3 class="m-0">CÂU HỎI<small style="font-size: 15px; color: grey;">Cập nhật câu hỏi từ file excel</small></h3>
                </div>

                <div class="col-sm-6 ">
                    <a href="/Question/Index" style="background-color:grey;padding:8px;color:#fff" class="rounded float-sm-right">
                        <i class="fa fa-reply"></i> Quay lại
                    </a>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-6">
                    <div class="form-group">
                        <select class="form-control" id="CategoryId" name="CategoryId">
                            <option value="" selected>Danh mục</option>
                            @*@foreach (var item in Model.categories)
                            {
                                if (item.Id == Model.keySearch.CategoryId)
                                {
                                    <option value="@item.Id" selected>@item.Name</option>
                                }
                                else
                                {
                                    <option value="@item.Id ">@item.Name</option>
                                }
                            }*@
                        </select>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="form-group">
                        <select class="form-control" id="UnitId" name="UnitId">
                            <option value="" selected>Đơn vị</option>
                            @*@foreach (var item in Model.unit)
                            {
                                if (item.Id == Model.keySearch.UnitId)
                                {
                                    <option value="@item.Id" selected>@item.Name</option>
                                }
                                else
                                {
                                    <option value="@item.Id ">@item.Name</option>
                                }
                            }*@
                        </select>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="form-group">
                        <select class="form-control" id="SubjectId" name="SubjectId">
                            <option value="" selected>Môn thi</option>
                            @*@foreach (var item in Model.subject)
                            {
                                if (item.Id == Model.keySearch.SubjectId)
                                {
                                    <option value="@item.Id" selected>@item.Name</option>
                                }
                                else
                                {
                                    <option value="@item.Id ">@item.Name</option>
                                }
                            }*@
                        </select>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="docs-datepicker">
                        <div class="input-group">
                            @*@if (Model.keySearch.StartDate != null)
                            {
                                <input type="text" class="form-control docs-date" id="StartDate" name="StartDate" placeholder="Từ ngày" autocomplete="off" value="@Model.keySearch.StartDate" />
                            }
                            else
                            {
                                <input type="text" class="form-control docs-date" id="StartDate" name="StartDate" placeholder="Từ ngày" autocomplete="off" />
                            }*@
                            <input type="text" class="form-control docs-date" id="StartDate" name="StartDate" placeholder="Từ ngày" autocomplete="off" />

                            <div class="input-group-append">
                                <button type="button" class="btn btn-outline-secondary docs-datepicker-trigger" id="date1">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                        <div class="docs-datepicker-container" style="display: none;"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-6">
                    <div class="form-group">
                        <div class="btn green fileinput-button" style="padding: 5px 10px; color: #fff; font-size: 14px;background:#28A745">
                            <i class="fa fa-plus"></i>
                            <span>
                                Chọn tệp tin...
                            </span>
                            <input id="fileBrowses" name="ImportExcel.FileExcel" onchange="fileBrowse(this);" type="file" value="" style="display:none;"/>
                            <label></label>
                        </div>
                        <button class="btn btn-sm btn-success"><i class="fa fa-link"></i>            Cập nhật dữ liệu</button>
                        <button class="btn btn-sm btn-primary"><i class="fa fa-arrow-down"></i>      Tải bản mẫu</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
