﻿@model dynamic
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h3 class="m-0">CÂU HỎI<small style="font-size: 15px; color: grey;"> Quản lý câu hỏi</small></h3>
                </div>
                <!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">
                            <button type="button" class="btn btn-block btn-success" onclick="callModel();"><i class="fa fa-plus"></i>Thêm mới</button>
                        </li>
                        <li class="breadcrumb-item">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle dropdown-hover dropdown-icon" data-toggle="dropdown" aria-expanded="false">
                                    Hành động
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu" role="menu" style="">
                                    <a class="dropdown-item" href="#" id="check_status">
                                        <i class="fa fa-check" style="font-size: 15px; padding-right: 5px;"></i>Duyệt tất cả
                                    </a>
                                    <a class="dropdown-item" href="#" id="check_status1">
                                        <i class="fa fa-times" style="font-size: 15px; padding-right: 5px;"></i>Bỏ duyệt tất cả
                                    </a>
                                    <a class="dropdown-item" href="#" id="deleteAll">
                                        <i class="fa fa-trash" style="font-size: 15px; padding-right: 5px;"></i>
                                        Xoá tất cả
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/Excel/Import"><i class="fa fa-list-alt" style="font-size: 15px; padding-right: 5px;"></i>Nhập Excel</a>
                                    <a class="dropdown-item" href="#" onclick="Export();"><i class="fa fa-list-alt" style="font-size: 15px; padding-right: 5px;"></i>Xuất Excel</a>
                                </div>
                            </div>
                        </li>
                    </ol>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <section class="content">
        <div class="container-fluid">
            <section class="content">
                <form action="/Question/Index" method="get" id="formSearch" name="formSearch">
                    <div class="row">
                        <div class="col-lg-3 col-6">
                            <div class="form-group">
                                <select class="form-control" id="CategoryId" name="CategoryId">
                                    <option value="" selected>Danh mục</option>
                                    @foreach (var item in Model.categories)
                                    {
                                        if (item.Id == Model.keySearch.CategoryId)
                                        {
                                            <option value="@item.Id" selected>@item.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@item.Id ">@item.Name</option>
                                        }

                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-6">
                            <div class="form-group">
                                <select class="form-control" id="UnitId" name="UnitId">
                                    <option value="" selected>Đơn vị</option>
                                    @foreach (var item in Model.unit)
                                    {
                                        if (item.Id == Model.keySearch.UnitId)
                                        {
                                            <option value="@item.Id" selected>@item.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@item.Id ">@item.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-6">
                            <div class="form-group">
                                <select class="form-control" id="SubjectId" name="SubjectId">
                                    <option value="" selected>Môn thi</option>
                                    @foreach (var item in Model.subject)
                                    {
                                        if (item.Id == Model.keySearch.SubjectId)
                                        {
                                            <option value="@item.Id" selected>@item.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@item.Id ">@item.Name</option>
                                        }
                                    }
                                </select> 
                            </div>
                        </div>
                        <div class="col-lg-3 col-6">
                            <div class="form-group">
                                <select class="form-control" id="TypeQuestionId" style="width: 70%;" name="TypeQuestionId">
                                    <option value="">Tất cả</option>
                                    @foreach (var item in Model.typequestion)
                                    {
                                        if (item.Id == Model.keySearch.TypeQuestionId)
                                        {
                                            <option value="@item.Id" selected>@item.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@item.Id ">@item.Name</option>
                                        }
                                        
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-6">
                            <div class="docs-datepicker">
                                <div class="input-group">
                                    @if (Model.keySearch.StartDate != null)
                                    {
                                        <input type="text" class="form-control docs-date" id="StartDate" name="StartDate" placeholder="Từ ngày" autocomplete="off" value="@Model.keySearch.StartDate" />
                                    }
                                    else
                                    {
                                        <input type="text" class="form-control docs-date" id="StartDate" name="StartDate" placeholder="Từ ngày" autocomplete="off" />
                                    }

                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-outline-secondary docs-datepicker-trigger" id="date1">
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="docs-datepicker-container" style="display: none;"></div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-6">
                            <div class="docs-datepicker">
                                <div class="input-group">
                                    @if (Model.keySearch.EndDate != null)
                                    {
                                        <input type="text" class="form-control docs-date" id="EndDate" name="EndDate" placeholder="Đến ngày" autocomplete="off" value="@Model.keySearch.EndDate"/>
                                    }
                                    else
                                    {
                                        <input type="text" class="form-control docs-date" id="EndDate" name="EndDate" placeholder="Đến ngày" autocomplete="off" />
                                    }

                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-outline-secondary docs-datepicker-trigger" id="date2">
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="docs-datepicker-container" style="display: none;"></div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-6">
                            <div class="form-group">
                                <select class="form-control" id="sel1" name="Status">
                                    <option value="-1" @(Model.keySearch.Status == -1 ? "selected" : "")>Trạng thái</option>
                                    <option value="1" @(Model.keySearch.Status == 1 ? "selected" : "")>Đã duyệt</option>
                                    <option value="0" @(Model.keySearch.Status == 0 ? "selected" : "")>Chưa duyệt</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-2 col-6">
                            <div class="form-group">
                                <input type="text" value="" name="Search" class="form-control" placeholder="Người tạo: DoanhDv2" />
                            </div>
                        </div>
                        <div class="col-lg-1 col-6">
                            <div class="form-group">
                                <button type="submit" class="btn btn-success" name="search"><i class="fa fa-search"></i>Tìm kiếm</button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="modal fade" id="modal-default" style="display: none;" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Chọn loại câu hỏi</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <select class="form-control" id="TypeQuestion">
                                        @foreach (var item in Model.typequestion)
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer justify-content-between">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                                <button type="button" class="btn btn-success pull-right" name="TypeQuestionId" onclick="getId();">Thêm mới</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="row">
                <table class="table table-bordered" id="my_table">
                    <thead>
                        <tr style="background-color:#eee">
                            <th><input type="checkbox" id="txt_checkall" class="inputcheck" /></th>
                            <th colspan="6">Tất cả</th>
                            <th colspan="1">Hành động</th>
                        </tr>
                    </thead>
                    <tbody id="Table_Question">
                        @foreach (var q in Model.Questions)
                        {
                            <tr style="background-color:#eee">
                                <th><input type="checkbox" class="inputtablequestion" value="@q.Id" /></th>
                                <th>Danh mục: @q.CategoryName</th>
                                <th>Môn thi: @q.SubjectName</th>
                                <th>Loại câu hỏi: @q.TypeQuestionName</th>
                                <th>Mức độ : @q.LevelName</th>
                                <th>Người tạo: Doanhdv2</th>
                                <th>Trạng thái: @(!q.Status ? "Chưa duyệt" : "Đã duyệt")</th>
                                <th>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default dropdown-toggle dropdown-hover dropdown-icon" data-toggle="dropdown" aria-expanded="false">
                                            Hành động
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <div class="dropdown-menu" role="menu" style="">
                                            <a class="dropdown-item" href="/Question/UpdateQuestion?QuestionId=@q.Id">Sửa</a>
                                            <button class="dropdown-item" onclick="checkStatus(@q.Id,@(q.Status?1:0));">@(!q.Status ? " Duyệt" : "Bỏ duyệt")</button>
                                            @*<a class="dropdown-item" href="/Question/CheckStatus?QuestionId=@q.Id&Status=@q.Status">@(!q.Status ? " Duyệt" : "Bỏ duyệt")</a>*@
                                            <button class="dropdown-item" onclick="deleteData(@q.Id);">Xoá</button>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                @if (q.NumberAnswerLine == 1)
                                {
                                    <td colspan="8">
                                        <h4>Nội dung câu hỏi: @Html.Raw(q.Content)</h4>
                                        <div class="col-md-12">
                                            <div class="row">
                                                @foreach (var item in Model.answer)
                                                {
                                                    if (q.Id == item.QuestionId)
                                                    {
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <div class="form-check">
                                                                    @if (item.Istrue != true)
                                                                    {
                                                                        if (q.TypeAnswer == "Một đáp án")
                                                                        {
                                                                            <input class="form-check-input" type="radio" disabled style="cursor: not-allowed" />
                                                                        }
                                                                        else
                                                                        {
                                                                            <input class="form-check-input" type="checkbox" disabled style="cursor: not-allowed" />
                                                                        }

                                                                    }
                                                                    else
                                                                    {
                                                                        if (q.TypeAnswer == "Một đáp án")
                                                                        {
                                                                            <input class="form-check-input" type="radio" checked disabled style="cursor: not-allowed" />
                                                                        }
                                                                        else
                                                                        {
                                                                            <input class="form-check-input" type="checkbox" checked disabled style="cursor: not-allowed" />
                                                                        }

                                                                    }
                                                                    <label class="form-check-label">@Html.Raw(item.Content)</label>
                                                                </div>
                                                            </div>
                                                            <b>(Giải thích:@item.Description)</b>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </td>
                                }
                                else if (q.NumberAnswerLine == 2)
                                {
                                    <td colspan="8">
                                        <h4>Nội dung câu hỏi: @Html.Raw(q.Content)</h4>
                                        <div class="col-md-12">
                                            <div class="row">
                                                @foreach (var item in Model.answer)
                                                {
                                                    if (q.Id == item.QuestionId)
                                                    {
                                                        <div class="col-sm-6">

                                                            <div class="form-group">
                                                                <div class="form-check">
                                                                    @if (item.Istrue != true)
                                                                    {
                                                                        if (q.TypeAnswer == "Một đáp án")
                                                                        {
                                                                            <input class="form-check-input" type="radio" disabled style="cursor: not-allowed" />
                                                                        }
                                                                        else
                                                                        {
                                                                            <input class="form-check-input" type="checkbox" disabled style="cursor: not-allowed" />
                                                                        }

                                                                    }
                                                                    else
                                                                    {
                                                                        if (q.TypeAnswer == "Một đáp án")
                                                                        {
                                                                            <input class="form-check-input" type="radio" checked disabled style="cursor: not-allowed" />
                                                                        }
                                                                        else
                                                                        {
                                                                            <input class="form-check-input" type="checkbox" checked disabled style="cursor: not-allowed" />
                                                                        }

                                                                    }
                                                                <label class="form-check-label">@Html.Raw(item.Content)</label>
                                                                </div>
                                                            </div>
                                                            <b>(Giải thích:@item.Description)</b>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </td>
                                }
                                else if (q.NumberAnswerLine == 3)
                                {
                                    <td colspan="8">
                                        <h4>Nội dung câu hỏi: @Html.Raw(q.Content)</h4>
                                        <div class="col-md-12">
                                            <div class="row">
                                                @foreach (var item in Model.answer)
                                                {
                                                    if (q.Id == item.QuestionId)
                                                    {
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <div class="form-check">
                                                                    @if (item.Istrue != true)
                                                                    {
                                                                        if (q.TypeAnswer == "Một đáp án")
                                                                        {
                                                                            <input class="form-check-input" type="radio" disabled style="cursor: not-allowed" />
                                                                        }
                                                                        else
                                                                        {
                                                                            <input class="form-check-input" type="checkbox" disabled style="cursor: not-allowed" />
                                                                        }

                                                                    }
                                                                    else
                                                                    {
                                                                        if (q.TypeAnswer == "Một đáp án")
                                                                        {
                                                                            <input class="form-check-input" type="radio" checked disabled style="cursor: not-allowed" />
                                                                        }
                                                                        else
                                                                        {
                                                                            <input class="form-check-input" type="checkbox" checked disabled style="cursor: not-allowed" />
                                                                        }

                                                                    }
                                                                <label class="form-check-label">@Html.Raw(item.Content)</label>
                                                                </div>
                                                            </div>
                                                            <b>(Giải thích:@item.Description)</b>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </td>
                                }
                                else
                                {

                                    <td colspan="8">
                                        <h4>Nội dung câu hỏi: @Html.Raw(q.Content)</h4>
                                        <div class="col-md-12">
                                            <div class="row">
                                                @foreach (var item in Model.answer)
                                                {
                                                    if (q.Id == item.QuestionId)
                                                    {
                                                        <div class="col-sm-3">
                                                            <div class="form-group">
                                                                <div class="form-check">
                                                                    @if (item.Istrue != true)
                                                                    {
                                                                        if (q.TypeAnswer == "Một đáp án")
                                                                        {
                                                                            <input class="form-check-input" type="radio" disabled style="cursor: not-allowed" />
                                                                        }
                                                                        else
                                                                        {
                                                                            <input class="form-check-input" type="checkbox" disabled style="cursor: not-allowed" />
                                                                        }

                                                                    }
                                                                    else
                                                                    {
                                                                        if (q.TypeAnswer == "Một đáp án")
                                                                        {
                                                                            <input class="form-check-input" type="radio" checked disabled style="cursor: not-allowed" />
                                                                        }
                                                                        else
                                                                        {
                                                                            <input class="form-check-input" type="checkbox" checked disabled style="cursor: not-allowed" />
                                                                        }

                                                                    }
                                                                <label class="form-check-label">@Html.Raw(item.Content)</label>
                                                                </div>
                                                            </div>
                                                            <b>(Giải thích:@item.Description)</b>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </td>
                                }

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @if (Model.pagination.PageCount > 1)
            {
                <div class="row">
                    <div class="col-sm-12 col-md-5"><div class="dataTables_info" id="example1_info" role="status" aria-live="polite">Hiển thị trang : @Model.pagination.PageCurrent </div></div>
                    <div class="col-sm-12 col-md-7">
                        <div class="dataTables_paginate paging_simple_numbers pull-right" id="example1_paginate">
                            <ul class="pagination" style="float:right">
                                <li class="@(Model.pagination.PageCurrent == 1 ? "paginate_button page-item previous disabled" : "paginate_button page-item previous ")" id="example1_previous">
                                    <a href="@Url.Action("Index", new {page = (@Model.pagination.PageCurrent - 1) })" class="page-link">Previous</a>
                                </li>
                                @for (int i = 1; i <= Model.pagination.PageCount; i++)
                                {
                                    <li class="@(i == Model.pagination.PageCurrent ? "paginate_button page-item active" : "paginate_button page-item")">
                                        <a href="@Url.Action("Index", new {page = i })" class="page-link">@i</a>
                                    </li>
                                }
                                <li class="@(Model.pagination.PageCurrent == Model.pagination.PageCount ? "paginate_button page-item next disabled" : "paginate_button page-item next ")" id="example1_next">
                                    <a href="@Url.Action("Index", new {page = (@Model.pagination.PageCurrent + 1) })" class="page-link">Next</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>
</div>