﻿@model dynamic

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">CÂU HỎI <small style="font-size:16px;color:gray">Thêm mới @Model.typequestion.Name</small></h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">
                            <a href="/Question/Index" style="padding:5px;background:grey;color:#fff" class="rounded">
                                <span class="fa fa-reply" style="padding:3px"></span>Quay lại
                            </a>
                        </li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid" style="border-top: 3px solid #d2d6de ">
            <form id="frm_question">
                <div class="row">
                    <div class="col-sm-9" style="border: 1px solid #d2d6de; border-top:none; border-left:none;padding-top:10px; display:none">
                        <input class="form-control input-icon valid" id="TypeQuestionId" value="@Model.typequestion.Id">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3" style="border: 1px solid #d2d6de; border-top:none; ">
                        <label class="float-sm-right" style="padding:15px;">Mã câu hỏi &nbsp; <span style="color:red;">*</span></label>
                    </div>
                    <div class="col-sm-9" style="border: 1px solid #d2d6de; border-top:none; border-left:none;padding-top:10px;">
                        <input class="form-control input-icon valid" id="Code" name="Code" placeholder="Mã câu hỏi" type="text" value="Q31-12-2020-02-20-06-214" aria-required="true" aria-invalid="false" aria-describedby="CodeQuestion-error">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3" style="border: 1px solid #d2d6de; border-top:none; ">
                        <label class="float-sm-right" style="padding:15px;">Danh mục &nbsp; <span style="color:red;">*</span></label>
                    </div>
                    <div class="col-sm-9" style="border: 1px solid #d2d6de; border-top:none; border-left:none;padding-top:10px;">

                        <div>
                            <div>
                                <select class="custom-select mr-sm-2" id="CategoryId" name="CategoryId">
                                    @foreach (var item in Model.categories)
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                </select>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3" style="border: 1px solid #d2d6de; border-top:none; ">
                        <label class="float-sm-right" style="padding:15px;">Đơn vị &nbsp; <span style="color:red;">*</span></label>
                    </div>
                    <div class="col-sm-9" style="border: 1px solid #d2d6de; border-top:none; border-left:none;padding-top:10px;">

                        <div>
                            <div>
                                <select class="custom-select mr-sm-2" id="UnitId" name="UnitId">
                                    @foreach (var item in Model.unit)
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                </select>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3" style="border: 1px solid #d2d6de; border-top:none; ">
                        <label class="float-sm-right" style="padding:15px;">Môn thi &nbsp; <span style="color:red;">*</span></label>
                    </div>
                    <div class="col-sm-9" style="border: 1px solid #d2d6de; border-top:none; border-left:none;padding-top:10px;">

                        <div>
                            <div>
                                <select class="custom-select mr-sm-2" id="SubjectId" name="SubjectId">
                                    @foreach (var item in Model.subject)
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                </select>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3" style="border: 1px solid #d2d6de; border-top:none; ">
                        <label class="float-sm-right" style="padding:15px;">Nội dung câu hỏi &nbsp; <span style="color:red;">*</span></label>
                    </div>
                    <div class="col-sm-9" style="border: 1px solid #d2d6de; border-top:none; border-left:none;padding-top:10px;">
                        <div>
                            <textarea class="ckeditor form-control" cols="20" id="Content" name="Content" rows="6"></textarea>
                            <span style="color : red" id="messageQuestion"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3" style="border: 1px solid #d2d6de; border-top:none; ">
                        <label class="float-sm-right" style="padding:15px;">Cấu hình play &nbsp;</label>
                    </div>
                    <div class="col-sm-9" style="border: 1px solid #d2d6de; border-top:none; border-left:none;padding-top:10px;">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="row">
                                    <div class="col-md-7 text-right" style="padding-top:5px;">
                                        Số lần xem
                                    </div>
                                    <div class="col-md-5">
                                        <input class="form-control input-icon valid" data-val="true" id="CountView" type="text" value="0" aria-invalid="false" name="CountView" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group" style="padding-left:50px">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="Tua" id="Tua" />
                                        <label class="form-check-label">Tua</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="FullScreen" id="FullScreen" />
                                        <label class="form-check-label">FullScreen</label>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3" style="border: 1px solid #d2d6de; border-top:none; ">
                        <label class="float-sm-right" style="padding:15px;">Upload File: &nbsp;</label>
                    </div>
                    <div class="col-sm-9" style="border: 1px solid #d2d6de; border-top:none; border-left:none;padding-top:10px;">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="custom-file">
                                    <input type="file" class="form-control" id="customFile" name="UploadFile" onchange="selectFile();">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <button type="button" class="btn btn-danger uploadProgress" id="uploadFile"><i class="fa fa-upload"></i> Upload</button>
                                <span style="color : red" id="messageFile"></span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3" style="border: 1px solid #d2d6de; border-top:none; ">
                        <label class="float-sm-right" style="padding:15px;">Link Video: &nbsp;</label>
                    </div>
                    <div class="col-sm-9" style="border: 1px solid #d2d6de; border-top:none; border-left:none;padding-top:10px;">
                        <input class="form-control input-icon valid" id="UrlVideo" name="UrlVideo" type="text">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3" style="border: 1px solid #d2d6de; border-top:none; ">
                        <label class="float-sm-right" style="padding:15px;">Mức độ: &nbsp;</label>
                    </div>
                    <div class="col-sm-9" style="border: 1px solid #d2d6de; border-top:none; border-left:none;padding-top:10px;">
                        <div>
                            <div>
                                <select class="custom-select mr-sm-2" id="LevelId" name="LevelId">
                                    @foreach (var item in Model.level)
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                </select>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3" style="border: 1px solid #d2d6de; border-top:none; ">
                        <label class="float-sm-right" style="padding:15px;">Ngày hết hạn: &nbsp;</label>
                    </div>
                    <div class="col-sm-9" style="border: 1px solid #d2d6de; border-top:none; border-left:none;padding-top:10px;">
                        <div style="max-width: 345px ">
                            <div class="docs-datepicker">
                                <div class="input-group">
                                    <input type="text" class="form-control docs-date" id="ExpDate" name="ExpDate" autocomplete="off" />
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-outline-secondary docs-datepicker-trigger" id="expDate">
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="docs-datepicker-container" style="display: none;"></div>
                            </div>


                            @*<div class="input-group date" id="reservationdate" data-target-input="nearest">
                                <input type="text" class="form-control datetimepicker-input" data-target="#reservationdate" name="ExpDate" id="ExpDate" />
                                <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>*@
                            @*<div class="input-group date" id="reservationdate" data-target-input="nearest">
            <input type="text" class="form-control datetimepicker-input" data-target="#reservationdate" id="ExpDate" name="ExpDate" />
            <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                <div class="input-group-text date"><i class="fa fa-calendar"></i></div>
            </div>
        </div>*@
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3" style="border: 1px solid #d2d6de; border-top:none; ">
                        <label class="float-sm-right" style="padding:15px;">Số câu trả lời/dòng: &nbsp;</label>
                    </div>
                    <div class="col-sm-9" style="border: 1px solid #d2d6de; border-top:none; border-left:none;padding-top:10px;">
                        <div style="max-width: 345px ">
                            <select class="custom-select mr-sm-2" id="NumberAnswerLine" name="NumberAnswerLine">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3" style="border: 1px solid #d2d6de; border-top:none; ">
                        <label class="float-sm-right" style="padding:15px;">Loại đáp án đúng: &nbsp;</label>
                    </div>
                    <div class="col-sm-9" style="border: 1px solid #d2d6de; border-top:none; border-left:none;padding-top:10px;">
                        <div style="max-width: 345px ">
                            <select class="custom-select mr-sm-2" id="TypeAnswer" name="TypeAnswer">
                                <option value="">Một đáp án</option>
                                <option value="">Nhiều đáp án</option>
                            </select>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3" style="border: 1px solid #d2d6de; border-top:none; ">
                        <label class="float-sm-right" style="padding:15px;">Nội dung câu trả lời: &nbsp;<span style="color:red;">*</span></label>
                    </div>
                    <div class="col-sm-9" style="border: 1px solid #d2d6de; border-top:none; border-left:none;padding-top:10px;">

                        <div>
                            <textarea class="ckeditor form-control" cols="20" id="answer" name="answer" rows="6" style="visibility: hidden; display: none;"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3" style="border: 1px solid #d2d6de; border-top:none; ">
                        <label class="float-sm-right" style="padding:15px;">Giải thích: &nbsp;</label>
                    </div>
                    <div class="col-sm-9" style="border: 1px solid #d2d6de; border-top:none; border-left:none;padding-top:10px;">

                        <div>
                            <textarea class="ckeditor form-control" cols="20" id="explain" name="explain" rows="6" style="visibility: hidden; display: none;"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3" style="border: 1px solid #d2d6de; border-top:none; ">
                    </div>
                    <div class="col-sm-9" style="border: 1px solid #d2d6de; border-top:none; border-left:none;padding-top:10px;">
                        <button type="button" id="btn_insertanswer" name="btn" class=" btn btn-success" style="margin: 10px" onclick="insert_answer();"><i class=" fa fa-plus"></i> Thêm câu trả lời</button>
                        <button type="button" id="btn_update_answer" name="btn" class=" btn btn-success" style="margin: 10px"><i class=" fa fa-plus"></i> Cập nhật câu trả lời</button>
                        <span style="color : red" id="messageAnswer"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3" style="border: 1px solid #d2d6de; border-top:none; ">
                    </div>
                    <div class="col-sm-9" style="border: 1px solid #d2d6de; border-top:none; border-left:none;padding-top:10px;">
                        <div class="card-body">
                            <table class="table table-bordered" id="myTablt">
                                <thead>
                                    <tr>
                                        <th style="width: 10%">Id</th>
                                        <th style="width: 35%">Nội dung câu trả lời</th>
                                        <th style="width: 35%">Giải thích</th>
                                        <th style="width: 20%">Hành động</th>
                                    </tr>
                                </thead>
                                <tbody id="content_answer">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3" style="border: 1px solid #d2d6de; border-top:none; ">

                    </div>
                    <div class="col-sm-9" style="border: 1px solid #d2d6de; border-top:none; border-left:none;padding-top:10px;">
                        <div class="form-group">
                            <span style="color : red" id="messageAnswer"></span>
                            <button type="button" class="btn btn-success" onclick="insert_data();" name="btn_submit" style="padding:5px;margin-bottom:4px"><i class="fa fa-check " style="padding:3px;"></i>Cập nhật</button>
                            <a href="/Question/Index" style="background-color:#28a745;padding:8px;color:#fff" class="rounded"> <i class="fa fa-reply"></i> Quay lại</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <!-- /.content -->
</div>

@section style{
    <style>
        #frm_question .error {
            color: red;
        }

        #customFile {
            padding: 3px;
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis !important;
        }
    </style>
}
@section scripts{
    <script src="~/Content/myjs/js-insert.js"></script>
}



