﻿@model dynamic
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">CÂU HỎI <small  class="myStyle1">Update Câu hỏi</small></h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">
                            <a href="/Question/Index" class="rounded myStyle2" style ="padding:5px;background:grey;color:#fff">
                                <span class="fa fa-reply" style="padding:3px"></span>Quay lại
                            </a>
                        </li>

                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid" style="border-top: 3px solid #d2d6de ">
            <div class="modal fade" id="modal-default" style="display: none;" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Chọn loại câu hỏi</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <select class="form-control" id="TypeQuestion">
                                    @foreach (var item in Model.typequestion)
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                            <button type="button" class="btn btn-success pull-right" name="TypeQuestionId" onclick="getId();">Thêm mới</button>
                        </div>
                    </div>
                </div>
            </div>

            <form id="frm_question">
                <div class="row">
                    <div class="col-sm-9" style="border: 1px solid #d2d6de; border-top:none; border-left:none;padding-top:10px; display:none">
                        <input class="form-control input-icon valid" id="qId" value="@Model.question.Id">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-9" style="border: 1px solid #d2d6de; border-top:none; border-left:none;padding-top:10px; display:none">
                        <input class="form-control input-icon valid" id="TypeQuestionId" value="@Model.question.TypeQuestionId">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3" style="border: 1px solid #d2d6de; border-top:none; ">
                        <label class="float-sm-right" style="padding:15px;">Mã câu hỏi &nbsp; <span style="color:red;">*</span></label>
                    </div>
                    <div class="col-sm-9" style="border: 1px solid #d2d6de; border-top:none; border-left:none;padding-top:10px;">
                        <input class="form-control input-icon valid" id="Code" name="Code" placeholder="Mã câu hỏi" type="text" value="@Model.question.Code">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3" style="border: 1px solid #d2d6de; border-top:none; ">
                        <label class="float-sm-right" style="padding:15px;">Danh mục &nbsp; <span style="color:red;">*</span></label>
                    </div>
                    <div class="col-sm-9" style="border: 1px solid #d2d6de; border-top:none; border-left:none;padding-top:10px;">

                        <div>
                            <div>
                                <select class="custom-select mr-sm-2" id="CategoryId" name="CategoryId">
                                    <option value="">Chọn danh mục</option>
                                    @foreach (var item in Model.category)
                                    {
                                        if (item.Id == Model.question.CategoryId)
                                        {
                                            <option value="@item.Id" selected>@item.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3" style="border: 1px solid #d2d6de; border-top:none; ">
                        <label class="float-sm-right" style="padding:15px;">Đơn vị &nbsp; <span style="color:red;">*</span></label>
                    </div>
                    <div class="col-sm-9" style="border: 1px solid #d2d6de; border-top:none; border-left:none;padding-top:10px;">

                        <div>
                            <div>
                                <select class="custom-select mr-sm-2" id="UnitId" name="UnitId">
                                    <option value="">Chọn đơn vị</option>
                                    @foreach (var item in Model.unit)
                                    {
                                        if (item.Id == Model.question.UnitId)
                                        {
                                            <option value="@item.Id" selected>@item.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3" style="border: 1px solid #d2d6de; border-top:none; ">
                        <label class="float-sm-right" style="padding:15px;">Môn thi &nbsp; <span style="color:red;">*</span></label>
                    </div>
                    <div class="col-sm-9" style="border: 1px solid #d2d6de; border-top:none; border-left:none;padding-top:10px;">

                        <div>
                            <div>
                                <select class="custom-select mr-sm-2" id="SubjectId" name="SubjectId">
                                    <option selected value="">Môn thi</option>
                                    @foreach (var item in Model.subject)
                                    {
                                        if (item.Id == Model.question.SubjectId)
                                        {
                                            <option value="@item.Id" selected>@item.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3" style="border: 1px solid #d2d6de; border-top:none; ">
                        <label class="float-sm-right" style="padding:15px;">Nội dung câu hỏi &nbsp; <span style="color:red;">*</span></label>
                    </div>
                    <div class="col-sm-9" style="border: 1px solid #d2d6de; border-top:none; border-left:none;padding-top:10px;">
                        <div>
                            <textarea class="ckeditor form-control" cols="20" id="Content" name="Content" rows="6">@Model.question.Content</textarea>
                            <span style="color : red" id="messageQuestion"></span>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3" style="border: 1px solid #d2d6de; border-top:none; ">
                        <label class="float-sm-right" style="padding:15px;">Cấu hình play &nbsp;</label>
                    </div>
                    <div class="col-sm-9" style="border: 1px solid #d2d6de; border-top:none; border-left:none;padding-top:10px;">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="row">
                                    <div class="col-md-7 text-right" style="padding-top:5px;">
                                        Số lần xem
                                    </div>
                                    <div class="col-md-5">
                                        <input class="form-control input-icon valid" data-val="true" id="CountView" type="text" value="@Model.question.CountView" name="CountView" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group" style="padding-left:50px">
                                    <div class="form-check">
                                        @if (Model.question.Tua == true)
                                        {
                                            <input class="form-check-input" type="checkbox" name="Tua" id="Tua" value="" checked />
                                        }
                                        else
                                        {
                                            <input class="form-check-input" type="checkbox" name="Tua" id="Tua" value="" />
                                        }
                                        <label class="form-check-label">Tua</label>

                                    </div>
                                    <div class="form-check">

                                        @if (@Model.question.FullScreen == true)
                                        {
                                            <input class="form-check-input" type="checkbox" name="FullScreen" id="FullScreen" value="" checked />
                                        }
                                        else
                                        {
                                            <input class="form-check-input" type="checkbox" name="FullScreen" id="FullScreen" value="" />
                                        }
                                        <label class="form-check-label">FullScreen</label>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3" style="border: 1px solid #d2d6de; border-top:none; ">
                        <label class="float-sm-right" style="padding:15px;">Upload File: &nbsp;</label>
                    </div>
                    <div class="col-sm-9" style="border: 1px solid #d2d6de; border-top:none; border-left:none;padding-top:10px;">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="custom-file">
                                    <input type="file" class="form-control" id="customFile" name="UploadFile" onchange="selectFile();">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <button type="button" class="btn btn-danger uploadProgress" id="uploadFile"><i class="fa fa-upload"></i> Upload</button>
                                <span style="color : red" id="messageFile"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3" style="border: 1px solid #d2d6de; border-top:none; ">
                        <label class="float-sm-right" style="padding:15px;">Link Video: &nbsp;</label>
                    </div>
                    <div class="col-sm-9" style="border: 1px solid #d2d6de; border-top:none; border-left:none;padding-top:10px;">
                        <input class="form-control input-icon valid" id="UrlVideo" name="UrlVideo" type="text" value="@Model.question.UrlVideo">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3" style="border: 1px solid #d2d6de; border-top:none; ">
                        <label class="float-sm-right" style="padding:15px;">Mức độ: &nbsp;</label>
                    </div>
                    <div class="col-sm-9" style="border: 1px solid #d2d6de; border-top:none; border-left:none;padding-top:10px;">
                        <div>
                            <div>
                                <select class="custom-select mr-sm-2" id="LevelId" name="LevelId">
                                    <option value="" id="optisonUnit">Mức độ</option>
                                    @foreach (var item in Model.level)
                                    {
                                        if (item.Id == Model.question.LevelId)
                                        {
                                            <option value="@item.Id" selected>@item.Name</option>

                                        }
                                        else
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3" style="border: 1px solid #d2d6de; border-top:none; ">
                        <label class="float-sm-right" style="padding:15px;">Ngày hết hạn: &nbsp;</label>
                    </div>
                    <div class="col-sm-9" style="border: 1px solid #d2d6de; border-top:none; border-left:none;padding-top:10px;">
                        <div style="max-width: 345px ">
                            <div class="docs-datepicker">
                                <div class="input-group">
                                    <input type="text" class="form-control docs-date" id="ExpDate" name="ExpDate" autocomplete="off" value="@Model.question.ExpDate" />
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-outline-secondary docs-datepicker-trigger" id="updateDate">
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="docs-datepicker-container" style="display: none;"></div>
                            </div>
                            @*<div class="input-group date" id="reservationdate" data-target-input="nearest">
                        <input type="text" class="form-control datetimepicker-input" data-target="#reservationdate" name="ExpDate" id="ExpDate" value="@Model.question.ExpDate" />
                        <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>*@
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3" style="border: 1px solid #d2d6de; border-top:none; ">
                        <label class="float-sm-right" style="padding:15px;">Số câu trả lời/dòng: &nbsp;</label>
                    </div>
                    <div class="col-sm-9" style="border: 1px solid #d2d6de; border-top:none; border-left:none;padding-top:10px;">
                        <div style="max-width: 345px ">
                            <select class="custom-select mr-sm-2" id="NumberAnswerLine" name="NumberAnswerLine">
                                @if (Model.question.NumberAnswerLine == 1)
                                {
                                    <option selected>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                }
                                @if (Model.question.NumberAnswerLine == 2)
                                {
                                    <option>1</option>
                                    <option selected>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                }
                                @if (Model.question.NumberAnswerLine == 3)
                                {
                                    <option>1</option>
                                    <option>2</option>
                                    <option selected>3</option>
                                    <option>4</option>
                                }
                                @if (Model.question.NumberAnswerLine == 4)
                                {
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option selected>4</option>
                                }

                            </select>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3" style="border: 1px solid #d2d6de; border-top:none; ">
                        <label class="float-sm-right" style="padding:15px;">Loại đáp án đúng: &nbsp;</label>
                    </div>
                    <div class="col-sm-9" style="border: 1px solid #d2d6de; border-top:none; border-left:none;padding-top:10px;">
                        <div style="max-width: 345px ">
                            <select class="custom-select mr-sm-2" id="TypeAnswer" name="TypeAnswer">
                                @if (Model.question.TypeAnswer == "Một đáp án")
                                {
                                    <option value="" selected>Một đáp án</option>
                                    <option value="">Nhiều đáp án</option>
                                }
                                @if (Model.question.TypeAnswer == "Nhiều đáp án")
                                {
                                    <option value="">Một đáp án</option>
                                    <option value="" selected>Nhiều đáp án</option>
                                }
                            </select>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3" style="border: 1px solid #d2d6de; border-top:none; ">
                        <label class="float-sm-right" style="padding:15px;">Nội dung câu trả lời: &nbsp;<span style="color:red;">*</span></label>
                    </div>
                    <div class="col-sm-9" style="border: 1px solid #d2d6de; border-top:none; border-left:none;padding-top:10px;">
                        <div>
                            <textarea class="ckeditor form-control" cols="20" id="updateContent" name="updateContent" rows="6"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3" style="border: 1px solid #d2d6de; border-top:none; ">
                        <label class="float-sm-right" style="padding:15px;">Giải thích: &nbsp;</label>
                    </div>
                    <div class="col-sm-9" style="border: 1px solid #d2d6de; border-top:none; border-left:none;padding-top:10px;">
                        <div>
                            <textarea class="ckeditor form-control" cols="20" id="updateExplain" name="updateExplain" rows="6" style="visibility: hidden; display: none;"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3" style="border: 1px solid #d2d6de; border-top:none; ">
                    </div>
                    <div class="col-sm-9" style="border: 1px solid #d2d6de; border-top:none; border-left:none;padding-top:10px;">
                        <button type="button" id="btn_insert" name="btn" class=" btn btn-success" style="margin: 10px" onclick="insert_answer(@Model.question.Id);"><i class=" fa fa-plus"></i> Thêm câu trả lời</button>
                        <button type="button" id="btn_update" name="btn" class=" btn btn-success" style="margin: 10px"><i class=" fa fa-plus"></i> Cập nhật câu trả lời</button>
                        <span style="color : red" id="messageAnswer"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3" style="border: 1px solid #d2d6de; border-top:none; ">
                    </div>
                    <div class="col-sm-9" style="border: 1px solid #d2d6de; border-top:none; border-left:none;padding-top:10px;">
                        <div class="card-body">
                            <table class="table table-bordered" id="myTable">
                                <thead>
                                    <tr>
                                        <th style="width: 10%">Id Question</th>
                                        <th style="width: 35%">Nội dung câu trả lời</th>
                                        <th style="width: 35%">Giải thích</th>
                                        <th style="width: 20%">Hành động</th>
                                    </tr>
                                </thead>
                                <tbody id="content_answer">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3" style="border: 1px solid #d2d6de; border-top:none; ">

                    </div>
                    <div class="col-sm-9" style="border: 1px solid #d2d6de; border-top:none; border-left:none;padding-top:10px;">
                        <div class="form-group">
                            <button type="submit" class="btn btn-success" id="update_data" style="padding:5px;margin-bottom:4px"><i class="fa fa-check " style="padding:3px"></i>Cập nhật</button>
                            <a href="/Question/Index" style="background-color:#28a745;padding:8px;color:#fff" class="rounded"> <i class="fa fa-reply"></i> Quay lại</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>
<script>
    var data = @Html.Raw(Json.Encode(Model.answer));
</script>
@section scripts{
    <script src="~/Content/myjs/js-update.js"></script>
}
@section style{
    <style>
        .myStyle1 {
            font-size:16px;
            color:gray;
        }
        #frm_question .error {
            color: red;
        }

        #customFile {
            padding: 3px;
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis !important;
        }
    </style>
}
